.app__header {
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #4568dc;
  text-align: center;
  color: #d7d7ef;
  font-family: "Lato", sans-serif;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.dropzone__count {
  margin-bottom: 0.3rem;
  width: 70%;
  text-align: right;
}

.file-display {
  font-size: 1.3rem;
  width: 70%;
  padding: 1rem;
  font-weight: 300;
  line-height: 1.4;
  text-overflow: ellipsis;
}

.file-dropzone {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
  justify-content: center;
  width: 70%;
}

.isActive {
  background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(187, 87, 87, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.file-dropzone__content__text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-dropzone__info {
  padding: 0.4rem;
  margin: 0.6rem;
}
.file-dropzone__error {
  font-size: 1.5rem;
  border: 2px solid;
  font-weight: bold;
}

.main {
  min-width: 15rem;
}
